body {
    background: #E5E5E5;
    font-family: "Inter", sans-serif;
    transition: 2s;
}



.logo {
    position: absolute;
    margin: 2em;
}

#botonModoOscuro{
    position: absolute;
    padding: 5px;
    margin: auto 2em;
    
    text-align: center;
    color: white;
    background: gray;
    border-radius: 24px;

    cursor: pointer;
}

.principal {

    text-align: center;
    display: inline-block;
    margin: 2em;
    padding: 10em;
    box-sizing: border-box;

    word-break: break-all;
}


.campo-texto {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: #0A3871;

    margin: 10% 20%;
    padding: 10px 25px;
    width: 100%;
    height: 10em;

    border: none;
    background: none;
    resize: none;
    word-wrap: break-word;
    word-break: break-all;

}

.campo-texto:focus {
    outline: none;
}

.campo-texto::placeholder {
    color: #0A3871;
}


.boton {
    display: inline;

}

.encriptar,
.desencriptar {
    width: 300px;
    height: 50px;

    border: 1px solid #0A3871;
    border-radius: 24px;

    font-weight: 400;
    font-size: 16px;
    text-align: center;

    cursor: pointer;

}


.encriptar {
    background: #0A3871;
    color: white;

}

.encriptar:hover{
    background:black;
    transform: scale(1);
    
}

.desencriptar {
    background: #D8DFE8;
    color: #0A3871;

}

.desencriptar:hover{
    background: whitesmoke;
    transform: scale(1);
    
}

#textoContenedor {
    display: none;
    color: #0A3871;
    padding: 10%;
    overflow: auto;
    height: 60%;
}


.muñeco {
    display: inline-block;
    text-align: center;
    width: 15em;
    height: 35em;
    margin: 40px;
    /* Espacio externo*/
    padding: 30px 20px;

    box-sizing: border-box;
    border-radius: 32px;
    align-items: center;

    background: white;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;


    font-weight: 400;
    font-size: 24px;
    word-wrap: break-word;



}




.muñeco img {
    width: 100%;
    margin: 50% -50% 0;
}

.muñeco h2 {

    font-weight: 700;
    font-size: 24px;
    margin: 20px 0;
    color: #343A40;
}

.muñeco p {
    font-weight: 400;
    font-size: 16px;
    color: #495057;



}



.botonCopia {


    display: none;
    width: 200px;
    height: 50px;


    margin: 10em auto;

    border: 1px solid #0A3871;
    border-radius: 24px;

    font-weight: 400;
    font-size: 16px;

    overflow: visible;


    cursor: pointer;

}

/* Modo Oscuro */

body.modoOscuro{
    background: #191919;
    transition: 2s;
}


.modoOscuro .campo-texto{
    color: whitesmoke;
}

.modoOscuro .campo-texto::placeholder {
    color: whitesmoke;
}

.modoOscuro .muñeco {
    background: black;
    transition: 2s;
}

.modoOscuro .muñeco h2{
    color: whitesmoke;
}

.modoOscuro .muñeco p{
    color: whitesmoke;
}

.modoOscuro #textoContenedor{
    color: white;
}


@media screen and (max-width:1300px) {


    .logo {
        position: relative;
        overflow: auto;

    }

    .principal {
        padding: 1em;
    }

    .campo-texto {


        font-size: 24px;
        margin: 5% 0;
        height: 8em;
    }

    .encriptar,
    .desencriptar {


        margin: 0 0 1em;

    }

    #textoContenedor{
        height: 10em;
        overflow: scroll;
    }

    .muñeco {
        width: 100%;
        height: auto;
        position: relative;
        margin: auto 0;

        
        

    }

    .muñeco img {
        display: none;
    }
}
